// @describe Grid

// @it Grid center: Empty

.block
    g-center()

// @expects
.block{display:block;margin-left:auto;margin-right:auto;padding-left:1rem;padding-right:1rem;width:auto}
@media (min-width:320px){.block{width:320px}}
@media (min-width:480px){.block{width:480px}}
@media (min-width:720px){.block{width:720px}}
@media (min-width:960px){.block{width:960px}}


// @it Grid center: Width

.block
    g-center(100px)

// @expects
.block{display:block;margin-left:auto;margin-right:auto;padding-left:1rem;padding-right:1rem;width:100px}


// @it Grid center: String

.block
    g-center('md')


.block2
    g-center(('md'))

// @expects
.block{display:block;margin-left:auto;margin-right:auto;padding-left:1rem;padding-right:1rem;width:720px}
.block2{display:block;margin-left:auto;margin-right:auto;padding-left:1rem;padding-right:1rem;width:720px}


// @it Grid center: Array

.block
    g-center(('sm' 'md'))

// @expects
.block{display:block;margin-left:auto;margin-right:auto;padding-left:1rem;padding-right:1rem}
@media (min-width:480px){.block{width:480px}}
@media (min-width:720px){.block{width:720px}}


// @it Grid center: Hash

.block
    g-center({sm: 1px, md: 15px})

// @expects
.block{display:block;margin-left:auto;margin-right:auto;padding-left:1rem;padding-right:1rem}
@media (min-width:480px){.block{width:1px}}
@media (min-width:720px){.block{width:15px}}


// @it Grid container

.block
    g-container()

// @expects
.block:after,.block:before{display:block;display:table;width:0;height:0;overflow:hidden;visibility:hidden;content:""}
    .block{zoom:1}
        .block:after{clear:both}.block{display:block;padding-left:0;padding-right:0;margin-left:-1rem;margin-right:-1rem;list-style:none}


// @it Grid columns: Integer

.block
    g-columns(5)

// @expects
.block{display:block;min-height:1px;padding-left:1rem;padding-right:1rem;float:left;width:20.83333%}


// @it Grid columns: Float

.block
    g-columns(1/5)

// @expects
.block{display:block;min-height:1px;padding-left:1rem;padding-right:1rem;float:left;width:20%}


// @it Grid columns: Other respond

.block
    g-columns((1/5 3 5 4))

// @expects
.block{display:block;min-height:1px;padding-left:1rem;padding-right:1rem;float:left;width:16.66666%}
@media (min-width:320px){.block{float:left;width:20.83333%}}
@media (min-width:480px){.block{float:left;width:12.5%}}
@media (min-width:720px){.block{float:left;width:20%}}


// @it Grid columns: Hide on small

.block
    g-columns((1/5 0 5))

// @expects
.block{display:block;min-height:1px;padding-left:1rem;padding-right:1rem;float:left;width:20.83333%}
@media (min-width:320px){.block{display:none}}
@media (min-width:480px){.block{float:left;width:20%}}


// @it Grid columns: Custom breakpoints

.block
    g-columns({lg: 1/6, md: 1/3})

// @expects
.block{display:block;min-height:1px;padding-left:1rem;padding-right:1rem}
@media (min-width:960px){.block{float:left;width:16.66666%}}
@media (min-width:720px){.block{float:left;width:33.33333%}}


// @it Grid columns-offset: horisontal

.block
    g-columns-offset((1/5 0 5))

// @expects
.block{margin-left:20.83333%;margin-right:20.83333%}
@media (min-width:320px){.block{margin-left:0;margin-right:0}}
@media (min-width:480px){.block{margin-left:20%;margin-right:20%}}


// @it Grid columns-offset: left

.block
    g-columns-offset-left((1/5 0 5))

// @expects
.block{margin-left:20.83333%}
@media (min-width:320px){.block{margin-left:0}}
@media (min-width:480px){.block{margin-left:20%}}


// @it Grid columns-offset: right

.block
    g-columns-offset-right((1/5 0 5))

// @expects
.block{margin-right:20.83333%}
@media (min-width:320px){.block{margin-right:0}}
@media (min-width:480px){.block{margin-right:20%}}