// @describe Grid horizontal

// @it Grid center: Empty

.block
    grid-center()

// @expects
.block{display:block;margin-left:auto;margin-right:auto;padding-left:10px;padding-right:10px}
@media only screen{.block{width:auto}}
@media only screen and (min-width:320px){.block{width:320px}}
@media only screen and (min-width:480px){.block{width:480px}}
@media only screen and (min-width:720px){.block{width:720px}}
@media only screen and (min-width:960px){.block{width:960px}}


// @it Grid center: Width

.block
    grid-center(100px)

// @expects
.block{display:block;margin-left:auto;margin-right:auto;padding-left:10px;padding-right:10px;width:100px}


// @it Grid center: String

.block
    grid-center('md')


.block2
    grid-center(('md'))

// @expects
.block{display:block;margin-left:auto;margin-right:auto;padding-left:10px;padding-right:10px;width:720px}
.block2{display:block;margin-left:auto;margin-right:auto;padding-left:10px;padding-right:10px;width:720px}


// @it Grid center: Array

.block
    grid-center(('sm' 'md'))

// @expects
.block{display:block;margin-left:auto;margin-right:auto;padding-left:10px;padding-right:10px}
@media only screen and (min-width:480px){.block{width:480px}}
@media only screen and (min-width:720px){.block{width:720px}}


// @it Grid center: Hash

.block
    grid-center({sm: 10px, md: 15px})

// @expects
.block{display:block;margin-left:auto;margin-right:auto;padding-left:10px;padding-right:10px}
@media only screen and (min-width:480px){.block{width:10px}}
@media only screen and (min-width:720px){.block{width:15px}}


// @it Grid container

.block
    grid-container()

// @expects
.block{zoom:1}
.block:after,.block:before{display:block;display:table;width:0;height:0;overflow:hidden;visibility:hidden;content:""}
.block:after{clear:both}
.block{display:block;padding-left:0;padding-right:0;margin-left:-10px;margin-right:-10px;list-style:none}


// @it Grid columns: Integer

.block
    grid-columns(5)

// @expects
.block{display:block;min-height:1px;padding-left:10px;padding-right:10px;float:left;width:20.83333%}


// @it Grid columns: Float

.block
    grid-columns(1/5)

// @expects
.block{display:block;min-height:1px;padding-left:10px;padding-right:10px;float:left;width:20%}


// @it Grid columns: Other respond

.block
    grid-columns((1/5 3 5 4))

// @expects
.block{display:block;min-height:1px;padding-left:10px;padding-right:10px}
@media only screen{.block{float:left;width:16.66666%}}
@media only screen and (min-width:320px){.block{float:left;width:20.83333%}}
@media only screen and (min-width:480px){.block{float:left;width:12.5%}}
@media only screen and (min-width:720px){.block{float:left;width:20%}}


// @it Grid columns: Hide on small

.block
    grid-columns((1/5 0 5))

// @expects
.block{display:block;min-height:1px;padding-left:10px;padding-right:10px}
@media only screen{.block{float:left;width:20.83333%}}
@media only screen and (min-width:320px){.block{display:none}}
@media only screen and (min-width:480px){.block{float:left;width:20%}}


// @it Grid columns: Custom breakpoints

.block
    grid-columns({lg: 1/6, md: 1/3})

// @expects
.block{display:block;min-height:1px;padding-left:10px;padding-right:10px}
@media only screen and (min-width:960px){.block{float:left;width:16.66666%}}
@media only screen and (min-width:720px){.block{float:left;width:33.33333%}}


// @it Grid columns-offset: horisontal

.block
    grid-columns-offset((1/5 0 5))

// @expects
@media only screen{.block{margin-left:20.83333%;margin-right:20.83333%}}
@media only screen and (min-width:320px){.block{margin-left:0;margin-right:0}}
@media only screen and (min-width:480px){.block{margin-left:20%;margin-right:20%}}


// @it Grid columns-offset: left

.block
    grid-columns-offset-left((1/5 0 5))

// @expects
@media only screen{.block{margin-left:20.83333%}}
@media only screen and (min-width:320px){.block{margin-left:0}}
@media only screen and (min-width:480px){.block{margin-left:20%}}


// @it Grid columns-offset: right

.block
    grid-columns-offset-right((1/5 0 5))

// @expects
@media only screen{.block{margin-right:20.83333%}}
@media only screen and (min-width:320px){.block{margin-right:0}}
@media only screen and (min-width:480px){.block{margin-right:20%}}