// @describe Grid vertical

// @it Grid size

for $i in (2 4 6 8 18px 24px 30px 40px sm 'md' mega)
    .block{$i}
        height grid_size($i)

// @expects

.block2{height:.5rem}
.block4{height:2rem}
.block6{height:8rem}
.block8{height:32rem}
.block18{height:1rem}
.block24{height:2rem}
.block30{height:2rem}
.block40{height:2rem}
.blocksm{height:.5rem}
.blockmd{height:1rem}
.blockmega{height:16rem}


// @it Grid offset vertical

.block
    g-offset-v 10px
    g-offset-top 20px
    g-offset-bottom 30px

// @expects
.block{margin-top:.5rem;margin-bottom:.5rem;margin-top:1rem;margin-bottom:2rem}


// @it Grid offset vertical inner

.block
    g-offset-v(10px, inner:true)
    g-offset-top(20px, inner:true)
    g-offset-bottom(30px, inner:true)

// @expects
.block{padding-top:.5rem;padding-bottom:.5rem;padding-top:1rem;padding-bottom:2rem}


// @it Grid vertical border

for $i in 1..3
    .block{$i}
        g-offset-v 10px
        g-border 1px, $i

// @expects

.block1{margin-top:.5rem;margin-bottom:.5rem;margin-top:.4375rem}
.block2{margin-top:.5rem;margin-bottom:.5rem;margin-bottom:.4375rem}
.block3{margin-top:.5rem;margin-bottom:.5rem;margin-top:.4375rem;margin-bottom:.4375rem}