/**
 * Mixins
 * ======================================================================== */

grid_direction()
    return DIRECTION == ltr ? unquote('left') : unquote('right')


grid_size(size=1)
    grid = grid-settings()

    if is_string(size) || is_ident(size)
        size = grid.size[size]

    if unit(size) == ''
        return size * grid.space
    else
        px_size = to_px(size)
        r = px_size % grid.space

        return to_unit(px_size - r + (r > 0 ? grid.space : 0) , unit(size))