/**
 * Mixins
 * ======================================================================== */

grid_direction()
    return DIRECTION == ltr ? unquote('left') : unquote('right')


grid_size(size=1, lower=false)
    grid = grid-settings()

    if is_string(size) || is_ident(size)
        size = grid.size[size]

    if unit(size) == ''
        return scale_modular(grid.space, size, grid.scale)
    else
        size = to_unit(size, unit(grid.space))
        return scale_modular(grid.space,
            scale_modular_reverse(grid.space, size, grid.scale, cb:round),
            grid.scale)