/**
 * Mixins
 * ======================================================================== */

grid-respond(sizes, callback)
    grid = grid-settings()

    if grid.responsive
        if is_hash(sizes)
            for bp, size in sizes
                if size != null
                    +above(bp)
                        callback(bp, size)

        if is_list(sizes)
            i = length(sizes)

            for bp in grid.respond
                i -= 1

                if sizes[i] != null && sizes[i] != '_' && i >= 0
                    +above(bp)
                        callback(bp, sizes[i])

    if is_unit(sizes)
        callback(bp, sizes)


/**
 * Return the percentage width specified by the column count.
 */
grid_columns(count)
    grid = grid-settings()

    if count >= 1
        count = count / grid.columns

    return floor(count * 100%, grid.error)


/**
 * Grid centering.
 *
 * responsive [mixed] -
 *              1) Width - width of the current block,
 *              2) Array of breakpoints that exists in grid breakpoints
 *              3) Hash of breakpoints with widhts
 *              4) Boolean that determine whether block will be responsive
 */
grid-center(respond=null)
    grid = grid-settings()
    respond = grid.respond if respond == null

    display block
    margin-x auto
    padding-x(grid.gutter / 2)

    if is_unit(respond) && respond
        width: respond
    else if is_string(respond) && respond
        width: grid.container[respond]
    else if is_hash(respond)
        for bp, size in respond
            if size == null
                +above(bp)
                    width auto
            else
                +above(bp)
                    width: size
    else if is_list(respond)
        for bp in respond
            if grid.container[bp] == null
                +above(bp)
                    width auto
            else
                +above(bp)
                    width: grid.container[bp]
    else
        width: grid.width


/**
 * Grid container.
 */
grid-container()
    grid = grid-settings()

    @extends $clearfix

    display block
    padding-left 0
    padding-right 0
    margin-left: -.5 * grid.gutter
    margin-right: -.5 * grid.gutter

    list-style none


/**
 * Grid columns.
 */
grid-columns(sizes, dir=grid_direction())
    grid = grid-settings()

    $gutter = grid.gutter / 2

    display block
    min-height 1px

    padding-left $gutter
    padding-right $gutter

    grid-respond(sizes, @(bp, size) {
        if (size == grid.columns) {
            float none
            width auto
        } else if (size == 0) {
            display none
        } else {
            float dir
            width grid_columns(size)
        }
    })


/**
 * Grid horizontal columns-offset.
 */
grid-columns-offset(sizes, dir=null)
    grid = grid-settings()
    prop = 'margin-'

    if dir != null
        dir = dir ? 'left' : 'right'
        prop += dir

    else
        prop += 'h'

    grid-respond(sizes, @(bp, size) {
        {prop}(grid_columns(size))
    })


// Shortcuts for `grid-columns-offset`
grid-columns-offset-left(sizes)
    grid-columns-offset(sizes, true)


grid-columns-offset-right(sizes)
    grid-columns-offset(sizes, false)