/**
 * Mixins
 * ======================================================================== */

/**
 * Grid offset.
 */
g-offset(size, dir=16, inner=false)
    prop = inner ? 'padding-' : 'margin-'
    dir_options = (
            (1 'top')\
            (2 'bottom')\
            (4 'left')\
            (8 'right')\
        )

    size = grid_size(size)

    for option in dir_options
        if byte-and(option[0], dir)
            {prop + option[1]} size


/**
 * Grid vertical offset.
 */
g-offset-v(size, dir=3, inner=false)
    if dir != 3
        dir = dir ? 1 : 2

    g-offset(size, dir, inner)


// Shortcuts for `g-offset-v`
g-offset-top(size, inner=false)
    g-offset-v(size, true, inner)


g-offset-bottom(size, inner=false)
    g-offset-v(size, false, inner)


/**
 * Grid horizontal offset.
 */
g-offset-h(size, dir=12, inner=false)
    if dir != 12
        dir = dir ? 4 : 8

    g-offset(size, dir, inner)


// Shortcuts for `g-offset-h`
g-offset-left(size, inner=false)
    g-offset-h(size, true, inner)


g-offset-right(size, inner=false)
    g-offset-h(size, false, inner)