/**
 * Variables
 * ======================================================================== */

g-space-config({
      base: .25rem
      scale: 2

      size: {
        none:    0
        xs:      1
        sm:      2
        md:      3
        lg:      4
        xl:      5
        giant:   6
        mega:    7
        giga:    8
      }
    })


$bp = responsive-breakpoints()

Grid = extend({
        columns:     24
        gutter:      2rem
        error:       5
        container:   {
                n:  null
                xs:  $bp.xs
                sm:  $bp.sm
                md:  $bp.md
                lg:  $bp.lg
            }

        width:       $bp.lg

        respond:     ('n' 'xs' 'sm' 'md' 'lg')
        responsive:  true
    }, Grid)
