/**
 * Mixins
 * ======================================================================== */

grid_height($size=1)
    $grid = grid-settings()

    if unit($size) == ''
        return $size * $grid.baseline
    else
        $px_size = to_px($size)
        $r = $px_size % $grid.baseline

        return to_unit($px_size - $r + ($r > 0 ? $grid.baseline : 0) , unit($size))


/**
 * Grid vertical offset.
 */
grid-offset-v($size, dir=null, is_in=false)
    $prop = is_in ? 'padding-' : 'margin-'

    if dir != null
        dir = dir ? 'top' : 'bottom'
        $prop += dir

    else
        $prop += 'v'

    {$prop}(grid_height($size))


// Shortcuts for `grid-offset-v`
grid-offset-top($size, is_in=false)
    grid-offset-v($size, true, is_in)


grid-offset-bottom($size, is_in=false)
    grid-offset-v($size, false, is_in)


/**
 * Grid border ofsset.
 *
 * Vertically inlining the block with other content by removing border width.
 *
 * @param {unit}    [$width] - Border width.
 * @param {boolean} [where]  - Border vertical position: 1 - top, 2 - bottom,
 *                             3 - both
 */
grid-border-offset($width, where=null)
    $width = to_px($width)
    $mt = at_partial('margin-top')
    $mb = at_partial('margin-bottom')

    if byte_and(where, 1) // top
        margin-top to_unit(to_px($mt) - $width, unit($mt))
    if byte_and(where, 2) // bottom
        margin-bottom to_unit(to_px($mb) - $width, unit($mb))

    // $pt = at_partial('padding-top') unless $mt
    // $pb = at_partial('padding-bottom') unless $mb

    // if where & 1 // top
    //     {$mt ? 'margin' : 'padding'}-top ($mt ? $mt : $pt) - $width
    // if where & 2 // bottom
    //     {$mb ? 'margin' : 'padding'}-bottom ($mb ? $mb : $pb) - $width


grid-border-v($width, $style, $color)
    grid-border-offset($width, 3)

    border-top $width $style $color
    border-bottom $width $style $color


grid-border-v-width($width)
    grid-border-offset($width, 3)

    border-top-width $width
    border-bottom-width $width


grid-border-top($width, $style, $color)
    grid-border-offset($width, 1)

    border-top $width $style $color


grid-border-top-width($width, $style, $color)
    grid-border-offset($width, 1)

    border-top-width $width


grid-border-bottom($width, $style, $color)
    grid-border-offset($width, 2)

    border-bottom $width $style $color

// Alias for: grid-border-bottom
grid-border-bot($width, $style, $color)
    grid-border-bottom($width, $style, $color)


grid-border-bottom-width($width)
    grid-border-offset($width, 2)

    border-bottom-width $width

// Alias for: grid-border-bottom-width
grid-border-bot-width($width)
    grid-border-bottom-width($width)